<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Resources</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="/img/circle_logo.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/owl.carousel.min.css">
    <link rel="stylesheet" href="/styles/magnific-popup.css">
    <link rel="stylesheet" href="/styles/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/themify-icons.css">
    <link rel="stylesheet" href="/styles/nice-select.css">
    <link rel="stylesheet" href="/styles/flaticon.css">
    <link rel="stylesheet" href="/styles/gijgo.css">
    <link rel="stylesheet" href="/styles/animate.css">
    <link rel="stylesheet" href="/styles/slicknav.css">
    <link rel="stylesheet" href="/styles/style.css">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid p-0">
                    <div class="row align-items-center no-gutters">
                        <div class="col-xl-5 col-lg-6">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href="/">home</a></li>
                                        <% if (isLoggedIn) { %>
                                            <li><a href="/dashboard">Dashboard</a></li>
                                            <% } %>
                                                <li><a class="active" href="/community">Community</a></li>
                                                <li><a href="contact.html">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo-img">
                                <a href="/">
                                    <img style="width: 100px;" src="img/ProvoLogo.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-4 d-none d-lg-block">
                            <div class="book_room">
                                <div>
                                    <% if (isLoggedIn) { %>
                                        <p
                                            style="color: white; font-size: larger; margin-right: 20px; margin-top: 15px;">
                                            Welcome, <%= extraData.user_first_name %>
                                        </p>
                                        <% } %>
                                </div>
                                <div class="socail_links">
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-facebook-square"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="book_btn d-none d-lg-block">
                                    <% if (isLoggedIn) { %>
                                        <a style="font-size: large; border-radius: 5px;" class="login"
                                            href="/logout">Sign Out</a>
                                        <% } else { %>
                                            <a style="font-size: large; border-radius: 5px;" class="login"
                                                href="/login">Sign In | Sign Up</a>
                                            <% } %>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->

    <!-- bradcam_area_start -->
    <div class="bradcam_area breadcam_bg">
        <h3>resources</h3>
    </div>
    <!-- bradcam_area_end -->

    <!DOCTYPE html>
    <html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Explore Designs</title>
        <style>
            .sr-only {
                height: 1px;
                width: 1px;
                margin: -1px;
                overflow: hidden;
                padding: 0;
                position: absolute;
            }

            .cards {
                margin-left: 2rem;
                margin-right: 2rem;
                display: flex;
                gap: 1rem;
                padding: 1rem;
                margin: 3rem;
            }

            .cards a {
                box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
            }

            .cards img {
                margin-bottom: 0.5rem;
                object-fit: cover;
                /* Adjust to 'contain' if needed */
                width: 100%;
                /* Ensure the image takes up the full width of its container */
                height: 100%;
                /* Ensure the image takes up the full height of its container */
            }

            .card h2 {
                padding: 1rem;
            }

            .card p {
                padding-left: 1rem;
                font-family: montserrat;
                font-weight: 100;
                transition: color 300ms;
            }

            .card:hover {
                box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
                box-sizing: 1rem;
                transform: scale(1.01);
                transition: box-shadow 300ms ease, color 300ms ease, transform 300ms;
            }

            .card:hover a {
                height: 120%;
            }

            .card:hover p {
                color: #333;
                transition: color 300ms;
                font-family: montserrat;
                font-weight: 100;
            }
        </style>
    </head>
    <section class="cards">
        <h2 class="sr-only">Explore our Designs</h2>
        <a class="card" href="https://www.churchofjesuschrist.org/?lang=eng">
            <img src="img/provotemple.jpg" alt="" width="500" height="500" loading="lazy">
            <h2>Religious Services</h2>
            <p>Discover popular local religion and explore their mental health services</p>
        </a>
        <a href="https://provolibrary.org/whattodoinprovothegreatoutdoors" class="card">
            <img src="img/waterfall.jpg" alt="" width="500" height="500" loading="lazy">
            <h2>Provo Outdoors</h2>
            <p>Explore popular hiking spots and activities</p>
        </a>
        <a href="https://jobs.ksl.com/search/city/Provo/state/UT" class="card">
            <img src="img/downtown.jpg" alt="" width="500" height="500" loading="lazy">
            <h2>Find Jobs</h2>
            <p>Overcome your hardships by finding new job opportunities</p>
        </a>
        <a href="https://www.visitutah.com/Places-To-Go/Cities-and-Towns/Provo-Utah-Valley/Things-To-Do-In-Provo"
            class="card">
            <img src="img/coolDowntown.jpg" alt="" width="500" height="500" loading="lazy">
            <h2>Explore Provo</h2>
            <p>Get involved in community events</p>
        </a>
    </section>
    <section class="cards">
        <h2 class="sr-only">Explore our Designs</h2>
        <a class="card" href="https://utahvalleycounseling.com/">
            <img src="https://images.unsplash.com/photo-1600427652630-f97cc4db10cd?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="" width="500" height="500" loading="lazy">
            <h2>Find a Counselor</h2>
            <p>Connect with a professional who can help you take a closer look at your mental health</p>
        </a>
        <a href=" https://www.justserve.org/projects?displayView=list&volunteering=locally&radius=25&location=Provo"
            class="card">
            <img src="https://images.unsplash.com/photo-1531873252757-8c22fa9e7a98?q=80&w=2051&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="" width="500" height="500" loading="lazy">
            <h2>Service</h2>
            <p>Find service opportunities near you</p>
        </a>
        <a href="https://stopsoldiersuicide.org/" class="card">
            <img src="https://images.unsplash.com/photo-1608396941316-ea89219bd56e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="" width="500" height="500" loading="lazy">
            <h2>Support our Troops</h2>
            <p>Learn about how you can help veterans and other military</p>
        </a>
        <a href="https://www.provo.org/departments/recreation/youth-adult-programs" class="card">
            <img src="https://images.unsplash.com/photo-1506869640319-fe1a24fd76dc?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="" width="500" height="500" loading="lazy">
            <h2>Youth Activities</h2>
            <p>Get involved in local youth groups and activities, for you or a loved one</p>
        </a>
    </section>





    <!-- footer -->
    <footer class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                address
                            </h3>
                            <p class="footer_text"> 200, Green road, Mongla, <br>
                                New Yor City USA</p>
                            <a href="#" class="line-button">Get Direction</a>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Reservation
                            </h3>
                            <p class="footer_text">+10 367 267 2678 <br>
                                reservation@montana.com</p>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-lg-2">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Navigation
                            </h3>
                            <ul>
                                <li><a href="#">Home</a></li>
                                <li><a href="#">Rooms</a></li>
                                <li><a href="#">About</a></li>
                                <li><a href="#">News</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-4 col-md-6 col-lg-4">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Newsletter
                            </h3>
                            <form action="#" class="newsletter_form">
                                <input type="text" placeholder="Enter your mail">
                                <button type="submit">Sign Up</button>
                            </form>
                            <p class="newsletter_text">Subscribe newsletter to get updates</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-8 col-md-7 col-lg-9">
                        <p class="copy_right">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This
                            template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a
                                href="https://colorlib.com" target="_blank">Colorlib</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                    <div class="col-xl-4 col-md-5 col-lg-3">
                        <div class="socail_links">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-facebook-square"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer_end -->

    <!-- form itself end-->
    <form id="test-form" class="white-popup-block mfp-hide">
        <div class="popup_box ">
            <div class="popup_inner">
                <h3>Check Availability</h3>
                <form action="#">
                    <div class="row">
                        <div class="col-xl-6">
                            <input id="datepicker" placeholder="Check in date">
                        </div>
                        <div class="col-xl-6">
                            <input id="datepicker2" placeholder="Check out date">
                        </div>
                        <div class="col-xl-6">
                            <select class="form-select wide" id="default-select" class="">
                                <option data-display="Adult">1</option>
                                <option value="1">2</option>
                                <option value="2">3</option>
                                <option value="3">4</option>
                            </select>
                        </div>
                        <div class="col-xl-6">
                            <select class="form-select wide" id="default-select" class="">
                                <option data-display="Children">1</option>
                                <option value="1">2</option>
                                <option value="2">3</option>
                                <option value="3">4</option>
                            </select>
                        </div>
                        <div class="col-xl-12">
                            <select class="form-select wide" id="default-select" class="">
                                <option data-display="Room type">Room type</option>
                                <option value="1">Laxaries Rooms</option>
                                <option value="2">Deluxe Room</option>
                                <option value="3">Signature Room</option>
                                <option value="4">Couple Room</option>
                            </select>
                        </div>
                        <div class="col-xl-12">
                            <button type="submit" class="boxed-btn3">Check Availability</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </form>
    <!-- form itself end -->
    <!-- JS here -->
    <script src="/scripts/vendor/modernizr-3.5.0.min.js"></script>
    <script src="/scripts/vendor/jquery-1.12.4.min.js"></script>
    <script src="/scripts/popper.min.js"></script>
    <script src="/scripts/bootstrap.min.js"></script>
    <script src="/scripts/owl.carousel.min.js"></script>
    <script src="/scripts/isotope.pkgd.min.js"></script>
    <script src="/scripts/ajax-form.js"></script>
    <script src="/scripts/waypoints.min.js"></script>
    <script src="/scripts/jquery.counterup.min.js"></script>
    <script src="/scripts/imagesloaded.pkgd.min.js"></script>
    <script src="/scripts/scrollIt.js"></script>
    <script src="/scripts/jquery.scrollUp.min.js"></script>
    <script src="/scripts/wow.min.js"></script>
    <script src="/scripts/nice-select.min.js"></script>
    <script src="/scripts/jquery.slicknav.min.js"></script>
    <script src="/scripts/jquery.magnific-popup.min.js"></script>
    <script src="/scripts/plugins.js"></script>
    <script src="/scripts/gijgo.min.js"></script>

    <!--contact js-->
    <script src="/scripts/contact.js"></script>
    <script src="/scripts/jquery.ajaxchimp.min.js"></script>
    <script src="/scripts/jquery.form.js"></script>
    <script src="/scripts/jquery.validate.min.js"></script>
    <script src="/scripts/mail-script.js"></script>

    <script src="/scripts/main.js"></script>
    <script>
        $('#datepicker').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
                rightIcon: '<span class="fa fa-caret-down"></span>'
            }
        });
        $('#datepicker2').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
                rightIcon: '<span class="fa fa-caret-down"></span>'
            }

        });
    </script>



</body>

</html>