<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Mental Health</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="img/circle_logo.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/owl.carousel.min.css">
    <link rel="stylesheet" href="styles/magnific-popup.css">
    <link rel="stylesheet" href="styles/font-awesome.min.css">
    <link rel="stylesheet" href="styles/themify-icons.css">
    <link rel="stylesheet" href="styles/nice-select.css">
    <link rel="stylesheet" href="styles/flaticon.css">
    <link rel="stylesheet" href="styles/gijgo.css">
    <link rel="stylesheet" href="styles/animate.css">
    <link rel="stylesheet" href="styles/slicknav.css">
    <link rel="stylesheet" href="styles/style.css">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
    <style>
        .tableau_holder {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100vh;
          margin: 0;
        }
        .center-container {
          text-align: center;
          width: 80%;
          margin-top: 30rem;
          /* Adjust the width as needed */
        }
    </style>
      <script>
        window.embeddedChatbotConfig = {
        chatbotId: "Q9TIJbV389lez4rP98xam",
        domain: "www.chatbase.co"
        }
        </script>
        <script
        src="https://www.chatbase.co/embed.min.js"
        chatbotId="Q9TIJbV389lez4rP98xam"
        domain="www.chatbase.co"
        defer>
        </script>
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    <header>
        <div class="header-area " style="background-color: rgba(0, 0, 0, 0.5); height: 125px;">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid p-0">
                    <div class="row align-items-center no-gutters">
                        <div class="col-xl-5 col-lg-6">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a href="/">home</a></li>
                                        <li><a class="active" href="/dashboard">Dashboard</a></li>
                                        <li><a href="/resources">Resources</a></li>
                                        <li><a href="#contact">Contact</a></li>
                                        <li><a href="/survey">Survey</a></li>
                                        <% if (isLoggedIn) { %>
                                            <li><a href="/search">Admin Tools</a></li>
                                        <% } %>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo-img">
                                <a href="/">
                                    <img style="width: 100px;" src="img/ProvoLogo.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-4 d-none d-lg-block">
                            <div class="book_room">
                                <div>
                                    <% if (isLoggedIn) { %>
                                        <p
                                            style="color: white; font-size: larger; margin-right: 20px; margin-top: 15px;">
                                            Welcome, <%= extraData.user_first_name %>
                                        </p>
                                        <% } %>
                                </div>
                                <div class="socail_links">
                                    <ul>
                                        <li>
                                            <a href="https://www.facebook.com/provocouncil">
                                                <i class="fa fa-facebook-square"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://twitter.com/provocity">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.instagram.com/provocity/">
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="book_btn d-none d-lg-block">
                                    <% if (isLoggedIn) { %>
                                        <a style="font-size: large; border-radius: 5px;" class="login"
                                            href="/logout">Sign Out</a>
                                        <% } else { %>
                                            <a style="font-size: large; border-radius: 5px;" class="login"
                                                href="/login">Admin Log In</a>
                                            <% } %>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->

    
    <div class="tableau_holder">
        <div class='tableauPlaceholder center-container' id='viz1701986020407'>
            <noscript><a href='#'><img alt='Mental Wellness Relating to Social Media Usage '
                  src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;W6&#47;W6RHSPXNK&#47;1_rss.png'
                  style='border: none' /></a></noscript>
            <object class='tableauViz' style='display:none;'>
              <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
              <param name='embed_code_version' value='3' />
              <param name='path' value='shared&#47;W6RHSPXNK' />
              <param name='toolbar' value='yes' />
              <param name='static_image'
                value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;W6&#47;W6RHSPXNK&#47;1.png' />
              <param name='animate_transition' value='yes' />
              <param name='display_static_image' value='yes' />
              <param name='display_spinner' value='yes' />
              <param name='display_overlay' value='yes' />
              <param name='display_count' value='yes' />
              <param name='language' value='en-US' />
            </object>
          </div>
          <script type='text/javascript'>
            var divElement = document.getElementById('viz1701986020407');
            var vizElement = divElement.getElementsByTagName('object')[0];
            if (divElement.offsetWidth > 800) {
              vizElement.style.width = '1000px';
              vizElement.style.height = '777px';
            } else if (divElement.offsetWidth > 500) {
              vizElement.style.width = '1000px';
              vizElement.style.height = '777px';
            } else {
              vizElement.style.width = '100%';
              vizElement.style.height = '1827px';
            }
            var scriptElement = document.createElement('script');
            scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js';
            vizElement.parentNode.insertBefore(scriptElement, vizElement);
          </script>
    </div>
    </div>
    <!-- about_area_end -->


    <!-- footer -->
    <footer class="footer" style="margin-top: 30rem;">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                address
                            </h3>
                            <p class="footer_text"> 445 W Center St, Provo <br>
                                Utah USA</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title" id="contact">
                                Contact Us
                            </h3>
                            <p class="footer_text">(801) 852-6000 <br>
                                provotownhall@provo.com</p>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-lg-2">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Navigation
                            </h3>
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="/survey">Survey</a></li>
                                <li><a href="/dashboard">Dashboard</a></li>
                                <li><a href="/resources">Resources</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-8 col-md-7 col-lg-9">
                        <p class="copy_right">
                        
    <style>
        .copy_right_extra {
            color: black;
        }
    </style>
    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved <span class="copy_right_extra">| This template is made with by <a href="https://colorlib.com" style="color: black;">Colorlib</a></style>
    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </div>
                        <div class="col-xl-4 col-md-5 col-lg-3">
                            <div class="socail_links">
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com/provocouncil">
                                            <i class="fa fa-facebook-square"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://twitter.com/provocity">
                                            <i class="fa fa-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/provocity/">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    <!-- link that opens popup -->

    
    <!-- JS here -->
    <script src="scripts/vendor/modernizr-3.5.0.min.js"></script>
    <script src="scripts/vendor/jquery-1.12.4.min.js"></script>
    <script src="scripts/popper.min.js"></script>
    <script src="scripts/bootstrap.min.js"></script>
    <script src="scripts/owl.carousel.min.js"></script>
    <script src="scripts/isotope.pkgd.min.js"></script>
    <script src="scripts/ajax-form.js"></script>
    <script src="scripts/waypoints.min.js"></script>
    <script src="scripts/jquery.counterup.min.js"></script>
    <script src="scripts/imagesloaded.pkgd.min.js"></script>
    <script src="scripts/scrollIt.js"></script>
    <script src="scripts/jquery.scrollUp.min.js"></script>
    <script src="scripts/wow.min.js"></script>
    <script src="scripts/nice-select.min.js"></script>
    <script src="scripts/jquery.slicknav.min.js"></script>
    <script src="scripts/jquery.magnific-popup.min.js"></script>
    <script src="scripts/plugins.js"></script>
    <script src="scripts/gijgo.min.js"></script>

    <!--contact js-->
    <script src="scripts/contact.js"></script>
    <script src="scripts/jquery.ajaxchimp.min.js"></script>
    <script src="scripts/jquery.form.js"></script>
    <script src="scripts/jquery.validate.min.js"></script>
    <script src="scripts/mail-script.js"></script>

    <script src="scripts/main.js"></script>
    <script>
        $('#datepicker').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
             rightIcon: '<span class="fa fa-caret-down"></span>'
         }
        });
        $('#datepicker2').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
             rightIcon: '<span class="fa fa-caret-down"></span>'
         }

        });
    </script>



</body>

</html>