<!doctype html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Mental Health</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="manifest" href="site.webmanifest"> -->
    <link rel="shortcut icon" type="image/x-icon" href="img/circle_logo.png">
    <!-- Place favicon.ico in the root directory -->

    <!-- CSS here -->
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/owl.carousel.min.css">
    <link rel="stylesheet" href="styles/magnific-popup.css">
    <link rel="stylesheet" href="styles/font-awesome.min.css">
    <link rel="stylesheet" href="styles/themify-icons.css">
    <link rel="stylesheet" href="styles/nice-select.css">
    <link rel="stylesheet" href="styles/flaticon.css">
    <link rel="stylesheet" href="styles/gijgo.css">
    <link rel="stylesheet" href="styles/animate.css">
    <link rel="stylesheet" href="styles/slicknav.css">
    <link rel="stylesheet" href="styles/style.css">
    <!-- <link rel="stylesheet" href="css/responsive.css"> -->
    <style>
    </style>
</head>

<body>
    <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

    <!-- header-start -->
    <header>
        <div class="header-area " style="background-color: rgba(0, 0, 0, 0.5); height: 125px;">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid p-0">
                    <div class="row align-items-center no-gutters">
                        <div class="col-xl-5 col-lg-6">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a class="active" href="/">home</a></li>
                                        <li><a href="/dashboard">Dashboard</a></li>
                                        <li><a href="/resources">Resources</a></li>
                                        <li><a href="#contact">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo-img">
                                <a href="/">
                                    <img style="width: 100px;" src="img/circle_logo.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-4 d-none d-lg-block">
                            <div class="book_room">
                                <div>
                                    <% if (isLoggedIn) { %>
                                        <p style="color: white; font-size: larger; margin-right: 20px; margin-top: 15px;">Welcome, <%= extraData.user_first_name %></p>
                                    <% } %>
                                </div>
                                <div class="socail_links">
                                    <ul>
                                        <li>
                                            <a href="https://www.facebook.com/provocouncil">
                                                <i class="fa fa-facebook-square"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://twitter.com/provocity">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.instagram.com/provocity/">
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="book_btn d-none d-lg-block">
                                    <% if (isLoggedIn) { %>
                                        <a style="font-size: large; border-radius: 5px;" class="login" href="/logout">Sign Out</a>
                                    <% } else { %>
                                        <a style="font-size: large; border-radius: 5px;" class="login" href="/login">Admin Log In</a>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->

    <!-- slider_area_start -->
    <div class="slider_area">
        <div class="slider_active owl-carousel">
            
            <div class="single_slider d-flex align-items-center justify-content-center slider_bg_1">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="slider_text text-center" style="background-color: rgba(0, 0, 0, 0.4); padding: 20px 20px 20px 20px;">
                                <h3>Provo Mental Health</h3>
                                <p>Your Happiness Matters!</p>
                                <br>
                                <a href="/survey" class="btn btn-primary">Take the Survey</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single_slider  d-flex align-items-center justify-content-center slider_bg_2">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="slider_text text-center" style="background-color: rgba(0, 0, 0, 0.4); padding: 20px 20px 20px 20px;">
                                <h3>Life is Beautiful</h3>
                                <p>Let's Enjoy it Together!</p>
                                <br>
                                <a href="https://www.provo.org/community/covey-center-for-the-arts/what-s-happening/events" class="btn btn-primary">Check out some of our Events</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single_slider d-flex align-items-center justify-content-center slider_bg_3">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="slider_text text-center" style="background-color: rgba(0, 0, 0, 0.4); padding: 20px 20px 20px 20px;">
                                <h3>Provo Utah</h3>
                                <p>Welcome Home</p>
                                <br>
                                <a href="/resources" class="btn btn-primary">Mental Health Resources</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <i class="ti-angle-down"></i>
    </div>
    <!-- slider_area_end -->

    <!-- about_area_start -->
    <div class="about_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-5">
                    <div class="about_info">
                        <div class="section_title mb-20px">
                            <span>Our Mission</span>
                            <h3>Your Health <br>
                                Matters to Us</h3>
                        </div>
                        <p>In Provo, we are dedicated to fostering resilient and thriving communities by prioritizing 
                            mental health. Our mission is to create a supportive environment where every individual can 
                            flourish emotionally and mentally. Through strategic programs and partnerships, we aim to break 
                            down barriers and promote mental well-being for all.</p>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-7">
                    <div class="about_thumb d-flex">
                        <div class="img_1">
                            <img src="img/about/about_1.jpg" alt="">
                        </div>
                        <div class="img_2">
                            <img src="img/about/about_2.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about_area_end -->


    <!-- video_area_start -->
    <div class="video_area video_bg overlay">
        <div class="video_area_inner text-center">
            <span>Video</span>
            <h3>How Social Media Impacts Mental Health</h3>
            <a href="https://www.youtube.com/watch?v=-QDjx_spkwI" class="video_btn popup-video">
                Play
            </a>
        </div>
    </div>
    <!-- video_area_end -->

    <!-- about_area_start -->
    <div class="about_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-7 col-lg-7">
                    <div class="about_thumb2 d-flex">
                        <div class="img_1">
                            <img src="img/about/1.jpg" alt="">
                        </div>
                        <div class="img_2">
                            <img src="img/about/2.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-5">
                    <div class="about_info">
                        <div class="section_title mb-20px">
                            <span>You Are Our Community</span>
                            <h3>Together <br>
                                We Thrive</h3>
                        </div>
                        <p>Join us in creating a city where mental health is a priority, and every resident 
                            has the support they need to lead a fulfilling life. Together, we can foster a 
                            culture of empathy, resilience, and well-being. Provo City – Nurturing Minds, 
                            Strengthening Communities.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- about_area_end -->

    <!-- forQuery_start -->
    <div class="forQuery">
        <div class="container">
            <div class="row">
                <div class="col-xl-10 offset-xl-1 col-md-12">
                    <div class="Query_border">
                        <div class="row align-items-center justify-content-center">
                            <div class="col-xl-6 col-md-6">
                                <div class="Query_text">
                                    <p>Join Our Community!</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- forQuery_end-->

    <!-- instragram_area_start -->
    <div class="instragram_area">
        <div class="single_instagram">
            <img src="img/instragram/1.jpg" alt="Instagram">
            <div class="ovrelay">
                <a href="https://www.instagram.com/p/C0Uhvd_vOXT/">
                    <i class="fa fa-instagram"></i>
                </a>
            </div>
        </div>
        <div class="single_instagram">
            <img src="img/instragram/2.jpg" alt="Instagram">
            <div class="ovrelay">
                <a href="https://www.instagram.com/p/C0SzPK8LcwS/?img_index=1">
                    <i class="fa fa-instagram"></i>
                </a>
            </div>
        </div>
        <div class="single_instagram">
            <img src="img/instragram/3.jpg" alt="">
            <div class="ovrelay">
                <a href="https://www.instagram.com/p/C0SzPK8LcwS/?img_index=2">
                    <i class="fa fa-instagram"></i>
                </a>
            </div>
        </div>
        <div class="single_instagram">
            <img src="img/instragram/4.jpg" alt="">
            <div class="ovrelay">
                <a href="https://www.instagram.com/p/C0SzPK8LcwS/?img_index=3">
                    <i class="fa fa-instagram"></i>
                </a>
            </div>
        </div>
        <div class="single_instagram">
            <img src="img/instragram/5.jpg" alt="">
            <div class="ovrelay">
                <a href="https://www.instagram.com/p/C0SzPK8LcwS/?img_index=4">
                    <i class="fa fa-instagram"></i>
                </a>
            </div>
        </div>
    </div>
    <!-- instragram_area_end -->

    <!-- footer -->
    <footer class="footer">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                address
                            </h3>
                            <p class="footer_text"> 445 W Center St, Provo <br>
                                Utah USA</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title" id="contact">
                                Contact Us
                            </h3>
                            <p class="footer_text">(801) 852-6000 <br>
                                provotownhall@provo.com</p>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-lg-2">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Navigation
                            </h3>
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="/survey">Survey</a></li>
                                <li><a href="/dashboard">Dashboard</a></li>
                                <li><a href="/resources">Resources</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-8 col-md-7 col-lg-9">
                        <p class="copy_right">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
<style>
    .copy_right_extra {
        color: black;
    }
</style>
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved <span class="copy_right_extra">| This template is made with by <a href="https://colorlib.com" style="color: black;">Colorlib</a></style>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                    <div class="col-xl-4 col-md-5 col-lg-3">
                        <div class="socail_links">
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/provocouncil">
                                        <i class="fa fa-facebook-square"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/provocity">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/provocity/">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- JS here -->
    <script src="scripts/vendor/modernizr-3.5.0.min.js"></script>
    <script src="scripts/vendor/jquery-1.12.4.min.js"></script>
    <script src="scripts/popper.min.js"></script>
    <script src="scripts/bootstrap.min.js"></script>
    <script src="scripts/owl.carousel.min.js"></script>
    <script src="scripts/isotope.pkgd.min.js"></script>
    <script src="scripts/ajax-form.js"></script>
    <script src="scripts/waypoints.min.js"></script>
    <script src="scripts/jquery.counterup.min.js"></script>
    <script src="scripts/imagesloaded.pkgd.min.js"></script>
    <script src="scripts/scrollIt.js"></script>
    <script src="scripts/jquery.scrollUp.min.js"></script>
    <script src="scripts/wow.min.js"></script>
    <script src="scripts/nice-select.min.js"></script>
    <script src="scripts/jquery.slicknav.min.js"></script>
    <script src="scripts/jquery.magnific-popup.min.js"></script>
    <script src="scripts/plugins.js"></script>
    <script src="scripts/gijgo.min.js"></script>

    <!--contact js-->
    <script src="scripts/contact.js"></script>
    <script src="scripts/jquery.ajaxchimp.min.js"></script>
    <script src="scripts/jquery.form.js"></script>
    <script src="scripts/jquery.validate.min.js"></script>
    <script src="scripts/mail-script.js"></script>

    <script src="scripts/main.js"></script>
    <script>
        $('#datepicker').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
             rightIcon: '<span class="fa fa-caret-down"></span>'
         }
        });
        $('#datepicker2').datepicker({
            iconsLibrary: 'fontawesome',
            icons: {
             rightIcon: '<span class="fa fa-caret-down"></span>'
         }

        });
    </script>



</body>

</html>