<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/styles/login_style.css" />
    <link rel="shortcut icon" type="image/x-icon" href="img/circle_logo.png">
    <title>Sign in & Sign up Form</title>
    <style>
      body {
          background-image: url('img/banner/banner2.jpg');
          background-size: cover; /* Adjust to 'contain' or other values based on your preference */
          background-position: center; /* Adjust based on your preference */
          background-repeat: no-repeat;
          /* You can also set background color in case the image is not available or doesn't cover the entire body */
          background-color: #f0f0f0;
      }
    </style>

  </head>
  <body style="background-image: url('img/banner/banner2.jpg'); background-size: cover;">
    <div class="container" style="background-color: rgba(0, 0, 0, 0.1); backdrop-filter: blur(2px);">
      <div class="forms-container">
        <div class="signin-signup">
          <form action="/login" method="post" class="sign-in-form" style="color: white; border-radius: 10px; ">
            <h2 class="title">Sign in</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Username" name="username"/>
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder="Password" name="password"/>
            </div>
            <input type="submit" value="Login" class="btn solid"/>
          </form>

          <form action="/signup" method="post" class="sign-up-form">
            <h2 class="title">Request account</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="First Name" id="firstName" name="firstName"/>
            </div>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Last Name" id="lastName" name="lastName"/>
            </div>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Username" id="newUsername" name="newUsername"/>
            </div>
            <div class="input-field">
              <i class="fas fa-envelope"></i>
              <input type="email" placeholder="Email" id="email" name="email"/>
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input required="required" type="password" placeholder="Password" id="newPassword" name="newPassword" oninput="check()"/>
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input required="required" type="password" placeholder="Confirm Password" id="confirmPassword" name="confirmPassword" oninput="check()" />
            </div>
            <input type="submit" class="btn" value="Request account" style="width: 175px;"/>
          </form>
        </div>
      </div>

      <div class="panels-container">
        <div class="panel left-panel">
          <div class="content" style="margin-bottom: 400px;">
            <h3>Need access?</h3>
            <p>
              Click here to fill out the request form to get access.
            </p>
            <button class="btn transparent" id="sign-up-btn" style="width: 175px;">
              Request account
            </button>
          </div>
        </div>
        <div class="panel right-panel">
          <div class="content" style="margin-bottom: 400px;">
            <h3>One of us?</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
              laboriosam ad deleniti.
            </p>
            <button class="btn transparent" id="sign-in-btn">
              Sign in
            </button>
          </div>
        </div>
      </div>
    </div>

    <script src="/scripts/app.js"></script>
    <script>

      function check() {
          var input = document.getElementById('confirmPassword');
          if (input.value != document.getElementById('password').value) {
              input.setCustomValidity('Password Must be Matching.');
          } else {
              // input is valid -- reset the error message
              input.setCustomValidity('');
          }
      }
    </script>

    
  </body>
</html>
