<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/x-icon" href="img/circle_logo.png">
    <title>Username Error</title>
    <!-- CSS here -->
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/owl.carousel.min.css">
    <link rel="stylesheet" href="styles/magnific-popup.css">
    <link rel="stylesheet" href="styles/font-awesome.min.css">
    <link rel="stylesheet" href="styles/themify-icons.css">
    <link rel="stylesheet" href="styles/nice-select.css">
    <link rel="stylesheet" href="styles/flaticon.css">
    <link rel="stylesheet" href="styles/gijgo.css">
    <link rel="stylesheet" href="styles/animate.css">
    <link rel="stylesheet" href="styles/slicknav.css">
    <link rel="stylesheet" href="styles/style.css">
    <script src="/scripts/survey.js" defer></script>
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <style>
        body {
            background-image: url('img/banner/banner2.jpg');
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }

        header {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            z-index: 1000;
            /* Ensure the header is above other content */
        }

        .container {
            margin-top: 125px;
            /* Adjust this value based on the header height */
            margin-right: 0;
            margin-left: 0;
            width: 1000px;
            max-width: none;
        }

        .card-content {
            display: flex;
            flex-direction: column;
            /* Adjust to a column layout */
            align-items: center;
            justify-content: space-between;
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            transform: translateY(-50%);
        }

        .centered-questions {
            display: flex;
            flex-direction: column;
            align-items: center;
            /* Center the questions horizontally */
            text-align: center;
            margin-top: 20px;
        }

        .arrow-icon {
            font-size: 24px;
            /* Adjust the size as needed */
        }

        .card {
            margin-top: 50px;
            background-color: white;
            height: 650px;
            width: 900px;
            position: absolute;
            object-fit: cover;
            object-position: left;
            z-index: -1;
            border-radius: 30px;

            /* Center the card horizontally and vertically */
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);

            /* Adjusted styles for the h1 tag */
            text-align: center;
            padding-top: 20px;
        }


        .button-container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            /* margin-top: 20px; Adjust as needed */
        }

        .button-left {
            margin-left: 20px;
        }

        .button-right {
            order: 2;
            margin-right: 20px;
        }

        button {
            display: inline-block;
            padding: 10px 20px;
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            text-decoration: none;
            cursor: pointer;
            border: 2px solid #009DFF;
            border-radius: 5px;
            color: #ffffff;
            background-color: #009DFF;
            transition: background-color 0.3s;
            font-family: 'Raleway', sans-serif;
        }

        button:hover {
            background-color: white;
            color: #009DFF;
        }

        .input-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            /* Align items to the left */
            margin-bottom: 10px;
            width: 450px;
        }

        .input-typed {
            width: 350px;
        }

        .checkbox-container {
            display: flex;
            flex-direction: column;
            /* Ensure checkboxes are in a row */
            align-items: flex-start;
        }

        .checkbox-group {
            margin-right: 20px;
            /* Adjust the spacing between checkboxes and labels */
        }

        label {
            margin-bottom: 5px;
            /* Optional: Adjust the space between label and input */
            color: black;
            font-size: large;
            font-weight: 600;
        }

        select {
            width: 350px;
        }

        input[type="checkbox"] {
            /* Your styles for checkbox inputs */
            margin-left: 10px;
            /* Adjust spacing between checkbox and label */
            /* Add more styles as needed */
        }

        .radio-container {
            display: flex;
            flex-direction: row;
            /* Display radio buttons and labels in a row */
            align-items: center;
            /* Center items vertically */
            width: 450px;
            justify-content: center;
        }

        .radio-group {
            margin-right: 10px;
            /* Adjust the spacing between radio buttons */
            margin-left: 10px;
        }

        @media only screen and (max-width: 768px) {
            body {
                background-size: auto;
                /* Adjust as needed */
            }

            .container {
                margin-top: 50px;
                /* Adjust as needed */
                width: 100%;
                max-width: none;
            }

            .card {
                height: 70%;
                /* Adjust as needed */
                width: 90%;
                /* Adjust as needed */
                margin-top: 10vh;
                /* Adjust as needed */
            }

            h1 {
                font-size: 3vh;
                /* Adjust as needed */
            }

            .input-container {
                width: 100%;
            }

            select {
                width: 100%;
            }
        }
    </style>
</head>

<body>
    <!-- header-start -->
    <header>
        <div class="header-area " style="background-color: rgba(0, 0, 0, 0.5); height: 125px;">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid p-0">
                    <div class="row align-items-center no-gutters">
                        <div class="col-xl-5 col-lg-6">
                            <div class="main-menu  d-none d-lg-block">
                                <nav>
                                    <ul id="navigation">
                                        <li><a class="active" href="/">home</a></li>
                                        <li><a href="/dashboard">Dashboard</a></li>
                                        <li><a href="/resources">Resources</a></li>
                                        <li><a href="#contact">Contact</a></li>
                                        <li><a href="/survey">Survey</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo-img">
                                <a href="/">
                                    <img style="width: 100px;" src="img/ProvoLogo.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-5 col-lg-4 d-none d-lg-block">
                            <div class="book_room">
                                <div>
                                    <% if (isLoggedIn) { %>
                                        <p
                                            style="color: white; font-size: larger; margin-right: 20px; margin-top: 15px;">
                                            Welcome, <%= extraData.user_first_name %>
                                        </p>
                                        <% } %>
                                </div>
                                <div class="socail_links">
                                    <ul>
                                        <li>
                                            <a href="https://www.facebook.com/provocouncil">
                                                <i class="fa fa-facebook-square"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://twitter.com/provocity">
                                                <i class="fa fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="https://www.instagram.com/provocity/">
                                                <i class="fa fa-instagram"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="book_btn d-none d-lg-block">
                                    <% if (isLoggedIn) { %>
                                        <a style="font-size: large; border-radius: 5px;" class="login"
                                            href="/logout">Sign Out</a>
                                        <% } else { %>
                                            <a style="font-size: large; border-radius: 5px;" class="login"
                                                href="/login">Admin Log In</a>
                                            <% } %>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- header-end -->

    <div class="about-section">
        <div class="card">
        <div class="card-content">
            <h3 style="color: black; font-size: 30px; font-weight: 600;">That username is unavailable for use</h3>
            <a href="/login"><button type="button">Go Back</button></a>
        </div>
        </div>

    </div>

    <!-- footer -->
    <footer class="footer" style="margin-top: 50rem;">
        <div class="footer_top">
            <div class="container">
                <div class="row">
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                address
                            </h3>
                            <p class="footer_text"> 445 W Center St, Provo <br>
                                Utah USA</p>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6 col-lg-3">
                        <div class="footer_widget">
                            <h3 class="footer_title" id="contact">
                                Contact Us
                            </h3>
                            <p class="footer_text">(801) 852-6000 <br>
                                provotownhall@provo.com</p>
                        </div>
                    </div>
                    <div class="col-xl-2 col-md-6 col-lg-2">
                        <div class="footer_widget">
                            <h3 class="footer_title">
                                Navigation
                            </h3>
                            <ul>
                                <li><a href="/">Home</a></li>
                                <li><a href="/survey">Survey</a></li>
                                <li><a href="/dashboard">Dashboard</a></li>
                                <li><a href="/resources">Resources</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-8 col-md-7 col-lg-9">
                        <p class="copy_right">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
<style>
    .copy_right_extra {
        color: black;
    }
</style>
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved <span class="copy_right_extra">| This template is made with by <a href="https://colorlib.com" style="color: black;">Colorlib</a></style>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </div>
                    <div class="col-xl-4 col-md-5 col-lg-3">
                        <div class="socail_links">
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/provocouncil">
                                        <i class="fa fa-facebook-square"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://twitter.com/provocity">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/provocity/">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

</body>

</html>